{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <button><a class="btn btn-default" href="{% url 'post_new' %}">新規投稿</a></button>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        {% block content %}
        {% endblock %}
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    </body>
</html>